.hero-section {
  padding: 2rem 0;
  background-color: #040311;
  background-image: url('/image/lines-hero-5x.webp');
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero-image {
    max-width: 170px;
    display: flex;
    margin: 0 auto 2rem auto;
  }

  &-title {
    color: #fff;
    max-width: 80%;
    margin: 1rem auto;
    text-align: center;
    font-size: 2.1rem;
  }

  &-subtitle {
    color: #fff;
    font-size: 1rem;
    max-width: 70%;
    margin: 0 auto 1rem auto;
  }

  &-security {
    width: 100%;
    max-width: 50%;
    display: flex;
    margin: 0 auto;
    height: auto;
  }

  @media (max-width: 800px) {
    min-height: 100%;
    padding: 2rem 0;

    .hero-image {
      max-width: 130px;
    }

    &-title {
      font-size: 1.5rem;
      max-width: 100%;
    }

    &-subtitle {
      font-size: 1rem;
      max-width: 100%;
    }
  }
}